#id_logo {
	width: 150px;
	height: 150px;
}

#id_divSearch {
	width: auto;
	margin-left: 37.5%;
	margin-top: -7%;
}

#id_search {
	border-radius: 4px;
}

#id_bt {
	background: none;
	border: none;
	padding: 0%;
}

#id_imgSearch {
	position: relative;
	width: 30px;
	height: 30px;
	margin-bottom: -30%;
	cursor: pointer;
}

#listIMG {
	width: 50px;
	height: 50px;
}

#listBtn {
	background: none;
	border: none;
	float: right;
	margin-right: 5%;
	margin-top: -2%;
}

#id_superior {
	height: 180px;
	position: relative;
}

#id_sesion {
	display: flex;
	margin: 2rem;
	float: right;
}

#id_sesion p {
	margin-right: 1rem;
	text-transform: uppercase;
}

#logoutForm {
	margin-top: 1rem;
}

#loginForm {
	margin-top: 1rem;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	border: 1px solid;
	position: absolute;
	border-radius: 10px;
	padding: 0rem 0.5rem 1rem 0.5rem;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.loginButton {
	padding: 4px;
	border-radius: 3px;
	border: 1px solid;
	cursor: pointer;
}