body {
	background-color: #0095da;
	font-family: sans-serif;
}

.similarMovies {
	border: 2px solid;
	width: 100%;
	overflow-x: scroll;
}

.other td {
	text-align: center;
	max-width: 200px;
	max-height: 300px;
	overflow: hidden;
}

#titleBtn {
	text-align: center;
	max-width: 200px;
	max-height: 300px;
	background: none;
	border: none;
	cursor: pointer;
}

#titleBtn img {
	width: 185px;
	height: 278px;
	border-radius: 5%;
	box-shadow: 2px 2px 10px #000;
}

#titleBtn p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
	color: #000;
}

.tituloForm p {
	margin: 1%;
}

#id_datos {
	width: 75%;
	display: block;
	float: right;
	margin-right: 7%;
	text-align: justify;
	margin-top: -2%;
}

#id_foto {
	margin-left: 2%;
	width: 20%;
	display: inline;
}

#id_poster {
	box-shadow: 2px 2px 10px #000;
	border: 1px solid;
}

span {
	font-size: large;
	color: #000000;
	font-weight: bold;
}

p {
	color: #202020;
}

#id_enviarImg {
	width: 55px;
	height: 50px;
	margin-bottom: 10%;
	float: right;
}

#id_enviarBtn {
	background: none;
	cursor: pointer;
	border: none;
}

#id_valoracion {
	margin-left: 2%;
	background: none;
	font-size: x-large;
	border: 1px solid;
	width: 4%;
	height: 50px;
	text-align: center;
	position: relative;
}

#id_numVotos {
	border: 1px solid #000;
	background: white;
	color: #0095da;
	width: 4%;
	height: 50px;
	font-size: small;
	text-align: center;
	margin-left: 9%;
	margin-top: -3.65%;
}

#id_numVotos p {
	margin: 0;
	margin-top: 10%;
}

#id_valoracion p {
	margin-top: 17%;
	font-weight: bold;
}

#id_votos {
	position: relative;
	margin-top: 1%;
	margin-bottom: 3%;
	margin-left: 1.5%;
}

#id_youtube {
	margin-left: 23%;
	display: block;
	width: 50%;
}

#id_ytplayer {
	box-shadow: 3px 2px 10px #000;
}

#id_formList {
	position: absolute;
	margin-left: 80%;
}

#id_lista {
	border-radius: 4px;
}

#id_anyadir {
	padding: 2px;
	border-radius: 3px;
	border: 1px solid;
	cursor: pointer;
}

#id_areaText {
	box-shadow: 2px 2px 10px #000;
	margin-bottom: 0;
	resize: none;
}

input[type="radio"] {
	display: none;
}

.clasificacion {
	direction: rtl;
	unicode-bidi: bidi-override;
	float: left;
}

.labelComentario:hover, .labelComentario:hover ~ label {
	cursor: pointer;
	color: orange;
}

input[type="radio"]:checked ~ label {
	color: orange;
}

#id_comment {
	margin-top: 1rem;
}

#id_rating {
	position: absolute;
	margin-top: -1rem;
}